body {
    background-size: 2500px;
    background-image: url('../image/backgroungs/default.png');
    
    background-position-x: center;
    background-position-y: top;
}
.center-menu {
    margin: 100px;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: grid;
    justify-content: center;
}
.center-contener {
    padding: 20px;
    padding-top: 40px;
    border-radius: 5px;
    background-color: gainsboro;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2), -10px -10px 10px rgba(0, 0, 0, 0.1);
}




.upper {
    margin-bottom: 50px;
}
.a-log, .a-reg {
    padding: 10px;
    margin: 5px;
    color: black;
    text-decoration: none;
    font-size: 25px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
}
.a-log {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.a-reg {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.a-log.unselect {
    box-shadow: 5px 5px rgba(0,0,0,0.4);
    top: -5px;
}
.a-log.unselect:active {
    box-shadow: none;
    top: 0;
    right: -5px;
}

.a-reg.unselect {
    box-shadow: -5px 5px rgba(0,0,0,0.4);
    top: -5px;
}
.a-reg.unselect:active {
    box-shadow: none;
    top: 0;
    right: 5px;
}

.unselect:hover {
    background-color: rgba(0,0,0,0.1);
}


.sub-conteiner {
    display: flex;
    justify-content: center;
}
.submit-btn {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
    margin-top: 10px;
    font-size: 20px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

.submit-btn:hover {
    background-color: rgb(160,160,160);
    
}



.reg-form>form {
    display: grid;
    justify-content: center;
}

.inputer {
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    background-color: rgb(210, 210, 210);
    border:none;
    border-bottom: 2px solid rgb(231, 231, 231); 
}


p {
    font-size: 20px;
}

.account-menu {
    text-align: center;
}

.account-menu-text {
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px; 
    padding: 10px 15px;
    background-color: rgb(210, 210, 210);
}

.account-menu-text:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.your-pages-text {
    margin-top: 5px;
}

.your-pages-title {
    margin-bottom: 5px;
    font-weight: bold;
}

.your-pages-text>a {
    text-decoration: none;
    color: black;
    border-radius: 8px; 
    background-color: rgba(0,0,0,0.1); 
    padding: 5px 10px; 
}

.your-pages-text>a:hover {
    background-color: rgb(160,160,160);
}

.logout {
    background-color: rgb(192, 36, 36);
    border-radius: 8px;
    padding: 8px 15px;
    color: rgb(227, 227, 227);
    font-weight: bold;
}

.logout:hover {
    background-color: rgb(160, 40, 40);
}

.conf-ref {
    margin-bottom: 0px;
}

.or {
    margin: 0px;
}